body {
    background: black;
    color: white;
    font-family: Monaco, monospace;
    font-size: 9pt;
}

a {
    color: white;
    text-decoration: underline;
}

#dashboard-container {
    margin-right: 1em;
}

#dashboard {
    width: 640px;
    height: 480px;
    border: none;
}

.test-button:before {
    content: "Test ";
}

.test-button {
    display: block;
    margin: 1em;
    cursor: pointer;
}

.running:after {
    content: " (now running)";
    color: yellow;
}

span.test-button:hover {
    background: #404040;
}
