table {
    width: 40em;
}

tr {
    border: none;
}

td {
    padding-left: 0;
}

form {
    width: 40em;
}

input, textarea {
    border: 1px solid black;
    width: 100%;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 9pt;
}

.ui-autocomplete-loading {
    background-image: url('images/ajax-loader.gif');
}
