body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 9pt;
    background: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background: yellow;
}

#header h1 {
    display: inline;
}

#header .menu {
    margin: 0;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    right: 0;
    top: 0;
}

#header .menu li {
    display: inline;
    color: white;
}

#header .menu li:last-child:after {
    content: "";
}

#header .menu li:after {
    content: " | ";
}

#header .menu li span {
    cursor: pointer;
}

#header .menu li span:hover {
    text-decoration: underline;
}

#loading-screen {
    width: 2em;
    margin: 10em auto;
}

#reports {
    padding-top: 1em;
}

#reports .container {
    display: table;
}

#reports .container > div:first-child {
    padding: 0;
}

#reports .container > div {
    display: table-cell;
    padding: 0 0.5em;
}

#reports .container h2 {
    margin-top: 0;
    width: 20em;
}

#templates {
    display: none;
}

.dialog {
    display: none;
}

/* Rule to fix quirks-mode inheritance behavior */
table, caption {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
}

#reports div.bugs {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

#reports div.header {
  font-weight: bold;
}

#reports div.header, #reports a.bug-row {
  display: table-row;
  border-bottom: 1px black dotted;
}

#reports div.header div {
  text-align: left;
}

#reports a.bug-row:hover {
    background: #f0f0f0;
}

#reports div.header div, #reports a.bug-row div {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5em;
}

#errors {
    display: none;
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 1em;
    background: #cc0033;
    color: white;
}

.P1.critical, .P1.blocker {
    color: red;
}

.status-RESOLVED, .status-VERIFIED {
    text-decoration: line-through;
}

.countdown {
    color: #f0f0f0;
}

.loading {
    background-image: url('images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: top right;
}

.dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.dialog .content {
    line-height: 1.5em;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    padding: 2em;
    width: 40em;
    margin: 10em auto;
}

.dialog input {
    border: 1px solid black;
    background: #e0e0e0;
    outline: none;
    padding: 0.5em;
    font-family: Helvetica Neue, Arial, sans-serif;
    width: 25em;
}

.dialog input[type=submit] {
    width: auto;
}

.dialog input:hover {
    background: white;
}

.dialog input:focus {
    background: white;
}

.dialog input.ui-autocomplete-loading {
    background-image: url('images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: 95% 35%;
}

.dialog input[type=submit] {
    cursor: pointer;
}

.dialog table {
    margin-left: 0;
}

.hide-while-loading {
    display: none;
}

div.more-link {
    padding: 0.5em;
    color: gray;
    cursor: pointer;
}

div.more-link:hover {
    background: #f0f0f0;
}

emph {
    color: red;
}